.app-name {
    -fx-font-family: "Gotham Black";
    -fx-font-size: 24px;
    -fx-text-fill: black;
}

.nav-form {
    -fx-background-color: linear-gradient(to right, #1db954, #191414);
}

.char-label {
    -fx-font-family: "Gotham-Light";
    -fx-font-size: 24px;
    -fx-text-fill: #fff;
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: "Gotham";
    -fx-font-size: 22px;
    -fx-text-fill: #fff;
}
.outbg {
    -fx-background-color: grey;
}

.bg {
    -fx-background-color: grey;
    -fx-background-radius: 8px;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.content-label {
    -fx-font-family: "Gotham Black";
    -fx-font-size: 42px;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

.content2-label {
    -fx-font-family: "Gotham-Light";
    -fx-font-size: 16px;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

.addbook-btn {
    -fx-background-color: linear-gradient(to right, #1db954, #196100);
    -fx-background-radius: 8px;
    -fx-text-fill: black;
    -fx-font-family: "Gotham Black";
    -fx-font-size: 14px;
    -fx-cursor: hand;
}
.addbook-btn:hover {
    -fx-background-color: linear-gradient(to right, #1db, #184144);
}