.books-btn {
    -fx-background-color: white;
    -fx-cursor: hand;
    -fx-font-family: "Gotham";
    -fx-font-size: 22px;
    -fx-text-fill: black;
}

.books-btn:hover {
    -fx-background-color: white;
}

.smallText-label {
    -fx-font-family: "Gotham-Light";
    -fx-font-size: 22px;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

.bigText-label {
    -fx-font-family: "Gotham Black";
    -fx-font-size: 36px;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

.addbook-btn {
    -fx-background-color: black;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
    -fx-font-family: "Gotham Black";
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.addbook-btn:hover {
    -fx-background-color: linear-gradient(to right, #1db, #184144);
}