.home-btn {
    -fx-background-color: #2C8C6A;
    -fx-cursor: hand;
    -fx-font-family: "Gotham";
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-border-color: #2C8C6A;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-padding: 0 80px 0 80px;
    -fx-alignment: center-left;
    -fx-spacing: 80px;
}

.home-btn:hover {
    -fx-background-color: #3D7A6A;
    -fx-text-fill: white;
    -fx-border-color: #3D7A6A;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, #1E5B53, 10, 0.3, 0, 0);
}

.card {
    -fx-background-color: linear-gradient(to top, #3a3f47, #525c66);
    -fx-background-radius: 5px;
}

.card-label {
    -fx-font-family: "Gotham";
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.card-number {
    -fx-font-family: "Gotham";
    -fx-font-size: 48px;
    -fx-text-fill: #fff;
}