.card {
    -fx-background-color: linear-gradient(to top, #2b303c, #525968);
    -fx-background-radius: 5px;
}

.card-label {
    -fx-font-family: "Gotham";
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.card-number {
    -fx-font-family: "Gotham";
    -fx-font-size: 48px;
    -fx-text-fill: #fff;
}