.footer1-label {
    -fx-text-fill: #fff;
    -fx-font-size: 28px;
    -fx-font-family: "Gotham Black";
    -fx-alignment: center-right;
}

.footer2-label {
    -fx-text-fill: #fff;
    -fx-font-size: 25px;
    -fx-font-family: "Gotham Black";
    -fx-alignment: center-left;
}

.footer-form {
    -fx-background-color: #3a6c98;
}

.header-btn {
    -fx-background-color: transparent;
}

.nav-form {
    -fx-background-color: linear-gradient(to top,#38708e, #08979d);
}

.nav-welcome {
    -fx-alignment: center;
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 26px;
    -fx-text-fill: #fff;
}

.nav-username {
    -fx-alignment: center;
    -fx-font-family: "Gotham Black";
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: #fff;
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: "Gotham";
    -fx-font-size: 24px;
    -fx-text-fill: #fff;
    -fx-padding: 0 80px 0 80px; /* Giảm padding bên trái để lùi chữ */
    -fx-alignment: center-left; /* Đảm bảo chữ được căn trái */
    -fx-spacing: 80px;
}

.nav-btn:hover {
    -fx-background-color: #3b85a0; /* Màu xanh dương đậm hơn */
    -fx-text-fill: white;
    -fx-border-color: #3b85a0; /* Viền cùng màu nền */
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, #3b85a0, 8, 0.3, 0, 0);
}

.content-form {
    -fx-background-color: #e3f2f9;
    -fx-background-radius: 8px;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

