.readers-btn {
    -fx-background-color: #2C8C6A;
    -fx-cursor: hand;
    -fx-font-family: "Gotham";
    -fx-font-size: 28px;
    -fx-text-fill: white;
    -fx-border-color: #2C8C6A;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
}

.readers-btn:hover {
    -fx-background-color: #3D7A6A;
    -fx-text-fill: white;
    -fx-border-color: #3D7A6A;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, #1E5B53, 10, 0.3, 0, 0);
}

.bigText-label {
    -fx-font-family: "Gotham Black";
    -fx-font-size: 36px;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

.smallText-label {
    -fx-alignment: center-right;
    -fx-font-family: "Gotham-light";
    -fx-font-size: 16px;
    -fx-text-fill: #000;
}

.up-btn {
    -fx-background-color: black;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
    -fx-font-family: "Gotham-light";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.up-btn:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.down-btn {
    -fx-text-fill: black;
    -fx-font-family: "Gotham-Light";
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.down-btn:hover {
    -fx-background-color: linear-gradient(to right, #1db, #184144);
}