.readers-btn {
    -fx-background-color: #2C8C6A;
    -fx-cursor: hand;
    -fx-font-family: "Gotham";
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-border-color: #2C8C6A;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-padding: 0 80px 0 80px;
    -fx-alignment: center-left;
    -fx-spacing: 80px;
}

.readers-btn:hover {
    -fx-background-color: #3D7A6A;
    -fx-text-fill: white;
    -fx-border-color: #3D7A6A;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, #1E5B53, 10, 0.3, 0, 0);
}

.bigText-label {
    -fx-font-family: "Gotham Black";
    -fx-font-size: 36px;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

.smallText-label {
    -fx-alignment: center-right;
    -fx-font-family: "Gotham-light";
    -fx-font-size: 22px;
    -fx-text-fill: #000;
}

.content-btn {
    -fx-text-fill: white;
    -fx-font-family: "Gotham-Light";
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to right, #68B68C, #3A7D66);
    -fx-border-color: #3A7D66;
    -fx-background-radius: 5px;
    -fx-padding: 8px 16px;
}

.content-btn:hover {
    -fx-background-color: linear-gradient(to right, #3A7D66, #68B68C);
    -fx-text-fill: white;
    -fx-border-color: #2C8C6A;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, #2C8C6A, 5, 0.2, 0, 0);
}